<!-- 배너 : 병아리 방앗간 -->
<tr><td style="height: 5px; background-color: #F2F2F2;"></td></tr>
<tr>
    <td style="height: 60px; background-color: #FFFFFF; padding: 3px; display: flex; justify-content: center; align-items: center; overflow: hidden;">
      <a href="https://smartstore.naver.com/gachishooping/" rel="noopener noreferrer" style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;" target="_blank">
        <img alt="서포터 배너"
             title="서포터 배너"
             src="https://shop-phinf.pstatic.net/20230903_238/1693733228457hmtY0_PNG/%C1%A6%B8%F1%C0%BB_%C0%D4%B7%C2%C7%CF%BC%BC%BF%E4.png"
             style="max-width: 100%; max-height: 100%; width: auto; height: auto; object-fit: contain; display: block;"/>
</a>
</td>
</tr>

<!-- 배너 : 대한상공회의소 (02/12) -->
<tr><td style="height: 5px; background-color: #F2F2F2;"></td></tr>
<tr>
   <td style="height: 80px; background-color: #FFFFFF; padding: 3px; overflow: hidden; padding: 3px;">
      <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
         <a href="https://www.korcham.net/nCham/Service/Event/appl/KcciNewsDetail.asp?DATA_ID=20250116093941545856K000" 
            rel="noopener noreferrer" 
            style="display: block; width: 100%; height: 100%;" 
            target="_blank">
            <img alt="대한상공회의소 이벤트"
                 title="대한상공회의소 이벤트 (2월 12일)" 
                 src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FLExeT%2FbtsL59wqw49%2FpUXnYiy8mC3th3i27E06w1%2Fimg.png" 
                 style="width: 100%; height: 100%; max-width: 100%; max-height: 100%; object-fit: contain; display: block;"/>
         </a>
      </div>
   </td>
</tr>

<!-- 배너 : 인천녹색기후아카데미 (02/26) -->
<tr><td style="height: 5px; background-color: #F2F2F2;"></td></tr>
<tr>
   <td style="height: 80px; background-color: #FFFFFF; padding: 3px; overflow: hidden; padding: 3px;">
      <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
         <a href="https://climate.ii.re.kr/icerc/uce/boa/openNoticeDetail.do?mi=MN0167&mx_one=733&bx=706" 
            rel="noopener noreferrer" 
            style="display: block; width: 100%; height: 100%;" 
            target="_blank">
            <img alt="인천녹색기후아카데미"
                 title="인천녹색기후아카데미 (2월 26일)" 
                 src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F58UUK%2FbtsMhnILxKs%2F7ikcPJ8T2nAh1PBxUyRbMK%2Fimg.png" 
                 style="width: 100%; height: 100%; max-width: 100%; max-height: 100%; object-fit: contain; display: block;"/>
         </a>
      </div>
   </td>
</tr>

<!-- 배너 : 서울 ESG 데이터 포럼 (02/29) -->
<tr><td style="height: 5px; background-color: #F2F2F2;"></td></tr>
<tr>
   <td style="height: 80px; background-color: #FFFFFF; padding: 3px; overflow: hidden; padding: 3px;">
      <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
         <a href="https://www.korcham.net/nCham/Service/Event/appl/KcciNewsDetail.asp?DATA_ID=20250211135040681102K000&CHAM_CD=B001&BIZ_SEQ=000" 
            rel="noopener noreferrer" 
            style="display: block; width: 100%; height: 100%;" 
            target="_blank">
            <img alt="서울 ESG 데이터 포럼"
                 title="서울 ESG 데이터 포럼 (2월 29일)" 
                 src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbO9AmN%2FbtsMi2wrRWZ%2FbhxqzhGLUOyxibb39puOKk%2Fimg.png" 
                 style="width: 100%; height: 100%; max-width: 100%; max-height: 100%; object-fit: contain; display: block;"/>
         </a>
      </div>
   </td>
</tr>

<!-- 배너 : ESG ON 세미나 -->
<tr><td style="height: 5px; background-color: #F2F2F2;"></td></tr>
<tr>
<td style="height: 80px; background-color: #FFFFFF; padding: 3px; overflow: hidden; padding: 3px;">
<div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%;">
<a href="https://www.keiti.re.kr/site/keiti/ex/board/View.do?cbIdx=277&amp;bcIdx=38231" rel="noopener noreferrer" style="display: block; width: 100%; height: 100%;" target="_blank">
<img alt="ESG ON 세미나" src="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&amp;fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fbdb6UW%2FbtsMfXvaj0q%2FxkrcdYnkFT8qrQ4DpC37K0%2Fimg.png" style="width: 100%; height: 100%; max-width: 100%; max-height: 100%; object-fit: contain; display: block;" title="제23회 ESG ON 세미나 (2월 19일)"/>
</a>
</div>
</td>
</tr>